.home-layout{
  min-height: 100%;
  background-color: black;
  .home-layout-content{
    background-color: #040c1f;
  }
  .home-layout-footer{
    background-color: #030a17;
    text-align: center;
    color: #05f2f2;
  }
}
